@use '../../App.scss' as *;

.works {
	background-color: $orangeColor;

	.works-block {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;

		.works_img-square {
			position: absolute;
			top: 0;
			left: 0;

			@media (max-width: 520px) {
				display: none;
			}
		}

		.works_img-planet {
			position: absolute;
			top: 0;
			right: 0;
		}

		.works_img-stars {
			position: absolute;
			left: 0;
			bottom: 0;

			@media (max-width: 1300px) {
				display: none;
			}
		}

		.works-title {
			color: $blackColor;

			.works-circle {
				background-color: $blackColor;

				&::before {
					content: '';
					background-color: $blackColor;
				}
			}
		}

		.works-list {
			width: 100%;
			margin-top: 5.5rem;
			display: flex;
			flex-direction: column;

			@media (max-width: 920px) {
				gap: 4rem;
			}

			&.works-active {
				.works-item {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.works-item {
				position: relative;
				opacity: 0;
				transform: translateY(150px);
				transition: all 0.5s ease;
				transition-delay: calc(var(--order) * 500ms);

				&:nth-child(odd) {
					margin: 0 auto 0 0;
				}
				&:nth-child(even) {
					margin: 0 0 0 auto;

					.works-item_block {
						left: -2rem;
					}
				}

				.works-item_link {
					.works-item_img {
						width: 500px;
						height: 500px;
						object-fit: cover;
						object-position: left;
						border-radius: 1rem;
						transition: all 0.3s;

						&:hover {
							scale: 1.1;
							transition: all 0.3s;
						}

						@media (max-width: 1130px) {
							width: 400px;
							height: 400px;
						}
						@media (max-width: 450px) {
							width: 270px;
							height: 270px;
						}
					}
				}

				.works-item_block {
					position: absolute;
					top: -1.6rem;
					right: -2rem;
					height: 110%;
					width: 55%;
					background-color: rgba($color: #000000, $alpha: 0.8);
					padding: 10px;
					border-radius: 10px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					pointer-events: none;

					@media (max-width: 450px) {
						width: 270px;
						height: 270px;
					}

					.works-item_block-text {
						margin-top: 1rem;
						margin-bottom: 2rem;
					}
				}
			}
		}
	}
}
